 <h1>Post a Song</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3 text">
    <% if @song.errors.any? %>
      <div>
        <strong>Some issues with your message, please do something about them:</strong>
        <ul>
          <% @song.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form method="post" action="/songs">
        <div class="col-md-6 col-md-offset-3">
          <label>Artist</label>
          <input type="text" class="form-control" name="author" value="<%= @song.author %>">
        </div>
        <div class="col-md-6 col-md-offset-3">
          <label>Title</label>
          <input type="text" class="form-control" name="title" value="<%= @song.title %>">
        </div>
        <div class="col-md-6 col-md-offset-3">
          <label>Url</label>
          <input type="text" class="form-control" name="url" value="<%= @song.url %>">
        </div>
        <div class="col-md-6 col-md-offset-3">
          <button type="submit" value="submit" class="btn btn-default button">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>